@import url('https://fonts.googleapis.com/css?family=Dosis%7CFredoka+One%7CJulius+Sans+One%7CBungee+Inline%7CMegrim%7CJosefin+Sans');

body {
	margin: 0;
	background: #222;
	font-family: Dosis;
	font-weight: 800;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background-color: rgba(134, 130, 135, 0.20);;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;font-family: Megrim; 
}


nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;}
#title {
  background-color: rgba(255, 255, 255, 0.60);
  font-size: 350%;
  border-style: solid;
  border-color: rgba(0, 0, 128, .8);
  border-weight: thick;
  border-radius: 15px;
  font-family: Megrim;
  text-align: center;
  margin: 10px;margin-left: auto;
    margin-right: auto;
    width: 15em;
}
h3 {
  font-family: Dosis;
  text-align: center;
}

.article {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.60);
  font-family: Josefin Sans;
  border-style: solid;
  border-radius: 15px;
  border-color: rgba(0, 0, 128, .8);
  margin: 10px;
}
img {
  display: block;
    margin-left: auto;
    margin-right: auto;
  width: 50%;
  border-style: solid;
  border-color: rgba(0, 0, 128, .8);
  border-weight: thick;
  border-radius: 15px;
}
body {
  background-image: url("https://images.unsplash.com/photo-1524820197278-540916411e20?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=93dfd06cba57eb3ed5363df7d1934455&auto=format&fit=crop&w=1972&q=80");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}