@import url('https://fonts.googleapis.com/css?family=Dosis|Fredoka+One|Julius+Sans+One|Bungee+Inline|Megrim|Josefin+Sans|Istok+Web');

body {
	margin: auto;
	background: #222;
	font-family: Dosis;
	font-weight: 800;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background-color: rgba(134, 130, 135, 0.20);
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
  font-family: Megrim; 
}


nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;}

.font{font-family: Megrim;}

.font1{font-family: Megrim; border-style: solid; border-color: black;color: #632179; border-radius: 15px;padding: 15px;font-size: 200%; background-color: rgba(134, 130, 135, 0.20);text-align: center;margin-left: auto;
    margin-right: auto;
    width: 15em; }

.font2{font-family: Dosis; text-align: center; color: #2A817F;
    margin-left: auto;
    margin-right: auto;
    width: 22em;
    border-style: solid;
  border-color: #632179;border-radius: 15px;padding: 15px;
  
}
.font3{font-family: Dosis; text-align: center; color: black; font-weight: bold; border-radius: 15px;padding: 15px;}

.font4{font-family: Dosis; text-align: center; color: #2A817F;
    margin-left: auto;
    margin-right: auto;
    width: 45em;
    border-style: solid;
  border-color: #632179;border-radius: 15px;padding: 15px;}
  
  .font5{font-family: Dosis; text-align: center; color: white;
    margin-left: auto;
    margin-right: auto;
    width: 45em;
    border-style: solid;
  border-color: #632179;border-radius: 15px;padding: 15px;background-color: rgba(134, 130, 135, 0.8);}


#worldmap{position: absolute;
    max-width: 1000px; 
    max-height: auto; display: block;
    margin-left: auto;
    margin-right: auto; left: 220px;
    top: 360px;}

#background{background-image: url("http://pluspng.com/img-png/png-ocean--1920.png"); margin:auto;}


body {text-align: center;
  background: rgba(215, 232, 242, 1);
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Istok Web', sans-serif;
}

#quiz-head {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
    url("https://upload.wikimedia.org/wikipedia/commons/a/a3/Nature-View.jpg"
    );
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 12em;
  border-bottom: 1px solid;
  border-color: rgba(50, 50, 50, .5);
  box-shadow: .0em .0em .6em .2em rgba(50, 50, 50, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

#quiz-header {
  color: white;
  text-shadow: 2px 2px rgba(50, 50, 50, 1);
  font-size: 4em;
  font-weight: bold;
  margin-bottom: .3em;
  text-align: center;
}

.question-div {
  height: 15em;
  width: 60%;
  margin-top: 2em;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center; text-align: center;
}

.question {
  color: rgba(255, 255, 255, 1);
  font-size: 2.5em;
  text-align: center;
}

#room-question {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
    url("https://www.carnival.com/~/media/Images/explore/staterooms/room-type-tiles/interior-cruise-room.jpg"
    );
  background-repeat: no-repeat;
  background-size: 100%;
}

#food-question {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
    url("https://ichef-1.bbci.co.uk/news/660/cpsprodpb/1325A/production/_88762487_junk_food.jpg"
    );
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

#char-question {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
    url("https://www.blazesunglasses.com/wp/wp-content/uploads/2016/10/Pixar-Characters.jpg"
    );
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

#sports-question {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
    url("http://az616578.vo.msecnd.net/files/2016/01/17/6358867049556383151549774574_sports-career.jpg"
    );
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
}

#place-question {
  background: linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)),
    url("https://inspiredology.com/wp-content/uploads/2010/01/Destination.jpg"
    );
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

#hobby-question {
  background: linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)),
    url("http://cdn.makeuseof.com/wp-content/uploads/2015/10/hobbies-happy-670x335.jpg?edc8eb"
    );
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
}

#motto-question {
  background: linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)),
    url("https://cdn.daysoftheyear.com/wp-content/images/blah-blah-blah-day-764x382.jpg"
    );
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.answers {
  width: 60%;
  align-self: center;
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 3em;
}

label {
  background: rgba(255, 255, 255, 1);
  margin-top: 1em;
}

.answer {
  width: 15em;
  height: 19em;
  background: rgba(220, 220, 220, 1);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border: 1px solid;
  border-color: rgba(50, 50, 50, .3);
}

.answer:hover {
  box-shadow: 0em 0em .9em .2em rgba(50, 50, 50, 1);
}

.info-area {
  width: 100%;
  margin-top: 5%;
  color: rgba(50, 50, 50, 1);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.checked {
  display: none;
}

i {
  margin-top: 0;
  margin-left: .5em;
  width: 1em;
}

.text {
  font-size: 1.5em;
  margin-left: .5em;
  margin-right: .7em;
}



img {
  margin-top: 1em;
  width: 200px;
  height: 200px;
}

.text-box {
  margin-top: 1em;
  background: rgba(70, 70, 255, 1);
  color: rgba(255, 255, 255, 1);
  width: 13em;
  height: 13em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-answer {
  font-size: 30px;
  /* word wrap from: https://www.w3schools.com/cssref/css3_pr_word-wrap.asp */
  word-wrap: break-word;
  /* text-align from: https://www.w3schools.com/cssref/pr_text_text-align.asp */
  text-align: center;
  margin: 30px;
}

#fin{
  align-self: center;
  margin: 2em;
  background-color: rgba(120, 50, 160, 1);
  box-shadow: .0em .0em .2em .1em rgba(50, 50, 50, 1);
  border: none;
  width: 10em;
  height: 4em;
  font-size: 2em;
  border-radius: .2em;
  color: rgba(250, 250, 250, 1);
}

#fin:hover{
box-shadow: .0em .0em .7em .1em rgba(50, 50, 50, 1);
background-color: rgba(130, 60, 170, 1);
}

.results {
  background: rgba(220, 220, 220, .5);
  align-self: center;
  width: 525px;
  padding: 20px;
  margin-bottom: 5em;
  box-shadow: .0em .0em .7em .1em rgba(50, 50, 50, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.result {
  font-size: 37px;
  font-weight: bold;
}
.extra-results {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.explanation {
  font-size: 20px;
  margin-right: 15px;
}

.results {
  display: none;
}

#error {
  color: rgba(255, 0, 0, 1);
  width: 100%;
  margin-bottom: 5em;
  display: none;
  margin-bottom: -2.65em;
}

#error-text {
  font-size: 30px;
  text-align: center;
}
.form
{
    display: block;
    text-align: center;}
    
  

