<html lang="en">

<head>
  <title>Climate Central: About</title>
    <link rel= "stylesheet" type= "text/css" href="css/main.css">
</head>
<body id = background>
   <header>
    <div class="container">
      <h1 class="logo">CLIMATE CENTRAL
      
      </h1>

      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="regionquiz">Regions of the US</a></li>
          <li><a href="aboutus">About</a></li>
          <li><a href="resources">Resources</a></li>
          <li><a href="climatequiz">Quiz</a></li>
        </ul>
      </nav>
    </div>
  </header>  
 <p class = font1>ABOUT US! </p>
 <p class= font2>Leora-Leora is 15 years old (16 in October!). She was into yodeling before the yodel boy. She loves goat yoga. She is Jewish but hates Hanukkah. She has a hate-hate relationship with her cat.</p>
   
   <p class= font2>Julia- Julia is 15 years old. She is turning 16 on July 24th! Her goal in life is to find a song that you can dance the macarena to. Her favorite animal is between ferrets and blobfishes. She think the best thing about the world is goat yoga.</p>
     
     <p class= font2>Natalie- Natalie is 13 years old. Turning 14 in December! She loves animals, friends and, family! Goat yoga.</p>
     
      <p class= font2> Katie- Katie is 13 years old. She loves plot twists and playing games!  She wants to protect trees! She also loves goat yoga.</p>
      <br>
      <br>
      <br>
      <p class = font6> We would like to express our gratitude to Kode with Klossy and the amazing Karlie Kloss. This was truly a once in a lifetime opportunity, and we will never forget it! </p>
      
      <p class =font2> We also all love Mamma Mia. Donna lives in our hearts.</p>
      
</body>
</html>