<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel= "stylesheet" type= "text/css" href="css/africa.css">
  <title>Climate Central: Africa</title>
</head>
<body class = backgroundafrica>
   
    <header>
    <div class="container">
      <h1 class="logo">CLIMATE CENTRAL
      
      </h1>

      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="regionquiz">Regions of the US</a></li>
          <li><a href="aboutus">About</a></li>
          <li><a href="resources">Resources</a></li>
          <li><a href="climatequiz">Quiz</a></li>
        </ul>
      </nav>
    </div>
  
  </header>
   
     
   <h1 id="title">AFRICA</h1>
  <div class = article>
  <p> Africa’s most relevant climate change related problems are degradation, soil erosion, and deforestation, and insect infestation. The reason for deforestation in Africa is largely to do with the rapid population growth over the last 25 years. During this time the annual growth jumped from 2.5 percent to 3.5 percent. To reiterate, Africa’s population doubled in 25 years and is expected to double again after another 25 years.<br><br>
A mix of this overpopulation and people leaving farming jobs to support their ever-growing family has led to people using up more resources and therefore, has led to resource depletion.  In addition, the rapid population growth led to major degradation of important farming areas.<br><br>
Soil erosion is another major environmental issue for Africa. Soil erodes naturally over time but human interference makes it erode oven quicker. Soil that is secured with roots (i.e. plants and grass) erodes slower, because the plants help it sticks together better and absorb more water. However, people are developing more land, removing plants and leaving loose soil that is easy to erode. This erosion leads to deadly fools and worsens farming land.<br><br>
Lastly, the most important environmental issue is deforestation. Most other places forest are disappearing at an average of 0.8 percent each year while this is a huge amount Africa's forest are being destroyed at a higher rate than that. This is especially worrisome because Africa has around 30 percent of the world's tropical forest and is a hotspot for biodiversity.</p></div>
   </body>