<html lang="en">
<head>
 <title>Antarctica</title>
  <link rel= "stylesheet" type= "text/css" href="css/antarctica.css">
</head>
<body>
<header>
    <div class="container">
      <h1 class="logo">CLIMATE CENTRAL
      
      </h1>

      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="regionquiz">Regions of the US</a></li>
          <li><a href="aboutus">About</a></li>
          <li><a href="resources">Resources</a></li>
          <li><a href="climatequiz">Quiz</a></li>
        </ul>
      </nav>
    </div>
  </header>
 <h1 class = font1>ANTARCTICA </h1>
 <div class=article>
 <p> Climate change has negatively affected Antarctica in many ways. The world's temperature is increasing due to climate change, which has led to glaciers melting away more and more each year. <br><br>
Over the summer, nearly 50 percent of the ice melts away. Although seasonal ice cap freezing and melting is a normal occurrence in Antarctica, the summer melt has never been this intensive before. The increased melting in the summer is too much to freeze back in the winter so the glaciers are permanently shrinking each year. The shrinking of this ice will have a negative effect on the world. <br><br>
Sixty-eight percent of the world's freshwater is held in glaciers and ice caps, most of which are in Antarctica. This much water will lead to drastically increased sea levels, which will end up flooding much of the word we know today. It will destroy a lot of major cities, therefore taking away a huge portion of our already overcrowded and scarce land. <br><br>
Another environmental issues that plagues Antarctica is the carelessness of fishing and oil ships nearby. It is a “tragedy of the commons” where ships from across the globe can harvest fish without limits and discard of waste, which include fishing nets, fishing lines, boxes, strapping bands etc.<br><br>
Perhaps a more deadly example of human carelessness in Antarctica are the oil spills. Crude oil is toxic substance witch sickens the wild life all around it when it spills. Finally there is a hole in the ozone layer above Antarctica this lack of protection from the sun's more deadly rays has been known to melt ice even more.
</div>
</body>
</html>