<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="css/asia.css">
  <title>Climate Central: Asia</title>
</head>
<body>
  <header>
    <div class="container">
      <h1 class="logo">CLIMATE CENTRAL
      
      </h1>

      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="regionquiz">Regions of the US</a></li>
          <li><a href="aboutus">About</a></li>
          <li><a href="resources">Resources</a></li>
          <li><a href="climatequiz">Quiz</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <br>
  <h1 id="title">ASIA</h1>
  <br>
  <div class="article">
    <h3>General</h3>
    <p>Extreme heat throughout Asia has been the cause of negative health effects. India suffered 2500 heat-related deaths in 2015. In 2016, India has experienced record high temperatures.</p>
    <p>In addition to disastrous tropical storms, rising sea levels will increase flood rate and damage fresh water. Severe flooding will put highly populated cities at risk of injury or death. Damage from heavy rainfall and flooding results in high expenses.</p>
    <p>Climate change's impact on Asian agriculture vary from region to region. However, the majority are expected to decline in agricultural productivity.</p>
    <p>Asia's large-scale fossil fuel use and carbon emissions help the greenhouse effect, air pollution, and increasing temperatures.</p>
    <h3>Southeast Asia</h3>
    <p>South East Asian sea levels are expected to rise approximately 10-15% over the global average, resulting in major flooding. Flooding will likely be worsened if the region is affected by the Monsoon, a seasonal reversing wind in South Asia.</p>
    <p>In particular, Vietnam, Indonesia, the Philippines, and Thailand have large coastal populations and depend heavily on irrigation to grow rice and other crops. Vietnam was found to be most vulnerable to these changes. Deforestation is as high as 75% of the carbon emissions of these four countries, which means they will need to work on preserving their forests.</p>
    <hr noshade>
    <p>Below are maps of Asia. The first one is of Asia currently and the second is of Asia's coastlines if all the ice on Earth melted and sea levels rise significantly.</p>
    <br>
    <img id="map" src="https://www.worldmapsonline.com/images/giclee/satellite_image_maps/asia_enhanced_physical_giclee_lg.jpg">
    <img id="coast" src="https://www.nationalgeographic.com/content/dam/magazine/rights-exempt/2013/09/rising-seas/05-ice-melt-asia.adapt.1900.1.jpg">
  </div>
</body>
</html>