<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" type="text/css" href="css/australia.css">
 <title>Climate Central: Australia</title>
</head>
<body>
  <header>
    <div class="container">
      <h1 class="logo">CLIMATE CENTRAL
      
      </h1>

      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="regionquiz">Regions of the US</a></li>
          <li><a href="aboutus">About</a></li>
          <li><a href="resources">Resources</a></li>
          <li><a href="climatequiz">Quiz</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <br>
<h1 id="title">AUSTRALIA</h1>
  <br>
 <div class="article">
<p class = size>In Australia, the coral reefs are dying from pollution that is going into the ocean. The pollution is causing the coral reefs to bleach. The reefs are home to many marine animals, who are in danger because of the bleaching effect. Here is a picture of a part of the Great Barrier Reef that has been impacted by bleaching: </p>
  <img src = https://cdn.technologyreview.com/i/images/coral3x2760-compressor.jpg?sw=1180&cx=0&cy=0&cw=2760&ch=1841 >
<p class = size>This is what the Great Barrier looked like before the problem of the bleaching of coral. </p>
  <img src = https://amp.businessinsider.com/images/5772d3c04321f142368b4774-750-562.jpg >
     <p class= size>Scientists are trying to figure out a way to save the coral reefs. One way you can help is to participate in cleanups at your local beach. These cleanups both help keep the beach clean and protect the wildlife to whom the waste is dangerous.</p>
 
 <p class = size>Australia receives extreme weather like heatwaves and droughts. They also have floods and fires because of the weather. Since it's so blistering hot there, most Australians live along the coast where it's cooler there. Most of Australia is not habitable. </p>
  </div>
</body>
</html>