<!DOCTYPE html>
<html>
  <head>
    <title>Climate Central</title>
    <link rel= "stylesheet" type= "text/css" href="css/main.css">
  </head>
<body id = background>
  <header>
    <div class="container">
      <h1 class="logo">CLIMATE CENTRAL
      
      </h1>

      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="regionquiz">Regions of the US</a></li>
          <li><a href="aboutus">About</a></li>
          <li><a href="resources">Resources</a></li>
          <li><a href="climatequiz">Quiz</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <p>
    
    
    <h2 class="font3"> A resource to learn more about climate change, its effects around the world, and how you can help slow it down.</h2>
  </p>

    <p>
     <h3 class="font2">To get started, click on one of the red dots and learn more about how climate change is affecting that continent!</h3> 
     <img id= "worldmap" src= "https://i.pinimg.com/originals/b9/b9/b8/b9b9b8db6d8e73aea094d90c53577730.png">
    </p>
    
    <div> <a href='northamerica'>
    <img id= overlay src=https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Red_dot.svg/2000px-Red_dot.svg.png></a> </div>
    
    <div> <a href='southamerica'>
      <img id= overlay2 src=https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Red_dot.svg/2000px-Red_dot.svg.png></a> </div>
   
    <div> <a href=africa>
    <img id= overlay3 src=https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Red_dot.svg/2000px-Red_dot.svg.png></a> </div>
    
    <div> <a href=europe>
    <img id= overlay4 src=https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Red_dot.svg/2000px-Red_dot.svg.png></a>
    </div>
    
    <div> <a href=asia>
      <img id= overlay5 src=https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Red_dot.svg/2000px-Red_dot.svg.png></a>
    </div>
    
    <div> <a href=australia>
      <img id= overlay6 src=https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Red_dot.svg/2000px-Red_dot.svg.png></a>
    </div>
    
    <div> <a href=antarctica>
      <img id= overlay7 src=https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Red_dot.svg/2000px-Red_dot.svg.png></a>
    </div>
    

   
</body>
</html>