<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Climate Central: Europe</title>
 <link rel="stylesheet" type="text/css" href="css/europe.css">
</head>
<body>
  <header>
    <div class="container">
      <h1 class="logo">CLIMATE CENTRAL
      
      </h1>

      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="regionquiz">Regions of the US</a></li>
          <li><a href="aboutus">About</a></li>
          <li><a href="resources">Resources</a></li>
          <li><a href="climatequiz">Quiz</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <p>
  <br>
 <h1 id="title">EUROPE</h1>
  <br>
  <div class="article">
 <p>Climate change has affected some of Europe. During the 2018 winter, a small snowstorm occured in Paris, France. Paris rarely receives snow, so this came as a shock to many. The snow is a result of global cooling, one of the effects of climate change. Global cooling happens as the ice caps melt, releasing cold air into to the atmosphere. This cold air can sometimes lead to unusual snowfall, as seen in Paris.</p>
<img src = "https://slack-imgs.com/?c=1&url=https%3A%2F%2Fs.abcnews.com%2Fimages%2FInternational%2Fparis-snow-eiffel-tower-rt-mem-180207_16x9_992.jpg" >
 
   <p>Europe is also at risk to rising sea levels. In thousands of years from now, the Black and Caspian are expected to form with the Mediterranean sea. Most of Denmark is also expected to be underwater. </p>
   
 
 <p>In some regions of Europe, both snowfall and rainfall have decreased. In recent year, Europe has had many horrific droughts. The droughts affect farming in Europe. Ireland, in July 2018, experienced a severe drought, in which many rivers ran very low. As a result of this drought, scientists have discovered a 5,000-year-old Irish Henge.
   
<img src ="https://media.npr.org/assets/img/2018/07/13/newsite-1c-3000_wide-dc1513f4186355652ffab5e0c4daf34693d8988c-s800-c85.jpeg">
  </div>
</body>
</html>