<!DOCTYPE html>
<html>
  <head>
    
    <title>Climate Central: Midwest</title>
     <link rel= "stylesheet" type= "text/css" href="css/main.css">
  </head>
  <body class = backgroundmidwest>
    <header>
    <div class="container">
      <h1 class="logo">CLIMATE CENTRAL
      
      </h1>

      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="regionquiz">Regions of the US</a></li>
          <li><a href="aboutus">About</a></li>
          <li><a href="resources">Resources</a></li>
          <li><a href="climatequiz">Quiz</a></li>
        </ul>
      </nav>
    </div>
  </header>
    
    <p>
      <h1 class = font1> REGIONS OF THE USA </h1>
      </p>
  
      <p>
      <h1 class = font3> MIDWEST </h1>
    <p>
     <h3 class= font5>The Midwest is home to over 65 million people, most of which live close to cities. The Midwest is also home to the Great Lakes and Missouri River.</p> 
     <p>Like most parts of the US, the Midwest has experienced temperature rise in recent decades. The rise is expected to continue, largely impacting the northernmost states in the region. With rising temperatures comes an increased risk to human health. This may include an increased number of heat-related illnesses, as well as worsened air quality.
      </p>
      <p>A huge part of the economy of the midwest is agriculture. For a limited period of time in the future, climate change may be beneficial in growing crops. However, in the long run, the impact of climate change will likely be detrimental. </p>
      <p>Want to learn more? Click <a href= "https://19january2017snapshot.epa.gov/climate-impacts/climate-impacts-midwest_.html">here</a></p>
      </h3>
  </body>
</html>