<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="css/namerica.css">
  <title>Climate Central: North America</title>
</head>
<body>
  <header>
    <div class="container">
      <h1 class="logo">CLIMATE CENTRAL
      
      </h1>

      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="regionquiz">Regions of the US</a></li>
          <li><a href="aboutus">About</a></li>
          <li><a href="resources">Resources</a></li>
          <li><a href="climatequiz">Quiz</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <br>
  <h1 id="title">NORTH AMERICA</h1>
  <br>
  <div class="article">
    <h3>General</h3>
    <p>Locations that usually experience heat waves should expect more severe ones. Potentially, these heat waves will negatively affect health, especially for seniors. Wildfires are going to be more frequent as North America becomes warmer and drier, especially in west US. Drought conditions are also becoming more frequent and extreme.</p>
    <p>Increased temperatures around the Western mountains will melt the snow on the summit, resulting in winter flooding. In summer, the temperatures will jeopardize the water supply. A decrease in water is going to limit water for irrigation and agriculture and food supply will suffer. Flooding along rivers and coast will become more common due to stronger storms and rising sea levels.</p>
  <p>Issues with pests, diseases, and forest fires' frequency will overall increase.</p>
  <h3>Central America</h3>
  <p>Hurricanes and other tropical cyclones are expected to have an increased frequency and extremes, resulting in a larger economic loss to coastal regions of Central America. Low-elevated areas like the coast of El Salvador are more prone to flooding.</p>
    <p>Tropical rainforests are most likely to become savannas or grasslands as land becomes drier. Nicaragua will have a hard time sustaining coffee plants because the conditions for these plants is estimated to move about 300 meters north.</p>
    <hr noshade>
    <p>Below are maps of North America. The first one is of North America currently and the second is of North America's coastlines if all the ice on Earth melted and sea levels rise significantly.</p>
    <br>
 <img id="map" src="https://www.worldmapsonline.com/images/giclee/satellite_image_maps/north_america_enhanced_physical_giclee_lg.jpg">
    <img id="coast" src="https://www.nationalgeographic.com/content/dam/magazine/rights-exempt/2013/09/rising-seas/01-ice-melt-north-america.adapt.1900.1.jpg">
    <br>
  </div>
</body>
</html>