<html lang="en">
<head>
<title>resources</title>
<link rel= "stylesheet" type= "text/css" href="css/resources.css">
</head>
<body>
   <header>
    <div class="container">
      <h1 class="logo">CLIMATE CENTRAL
      
      </h1>

      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="regionquiz">Regions of the US</a></li>
          <li><a href="aboutus">About</a></li>
          <li><a href="resources">Resources</a></li>
          <li><a href="climatequiz">Quiz</a></li>
        </ul>
      </nav>
    </div>
  </header>
   <h1 class = title>RESOURCES<h1>
 <div style='float:left; width:45%'> <h2 id="home">  WAYS YOU CAN HELP AT HOME  <h2> </div> <div style='float:right; width:46%; margin-right:5px'> <h2 id="donate">   PLACES YOU CAN DONATE TO   <h2> </div>

<div style='float:left; width:30%'> </div>
       <ul style="text-align: left" class="ul1">
    <br>
     <li>Use all the paper you have before getting another sheet.
<li>Reuse your water bottles.
<li>Take shorter showers.
<li>Avoid using plastic bags.
<li>Stop using stirrers and straws.
<li>Use Non-Chemical De-Icers.
<li>Use Energy Efficient Light Bulbs.
<li>If you have a dishwasher, don't pre-rinse your dishes.
<li>Shut down your computer overnight.
<li>Eat less beef and pork. Instead, eat more fish, chicken, nuts, and soy for your protein source(raising/gathering these things has a lower environmental impact).
<li>Recycle!
     <li>Compost (you can sign up for these composting services <a href="https://bootstrapcompost.com/">Bootstrap</a>, <a href="https://compostnow.org/">Compost Now</a> or <a href="https://www.bhg.com/gardening/yard/compost/how-to-compost/">Compost at Home</a>.)
<li>Spread the word try to get other people involved!
</ul>
<div style='float:right; width:70%; margin-right:60px'>
 
 
 <ul style="text-align: left" class ="ul2">
   <br>
  <li> <a href="https://www.greenpeacefund.org/">Greenpeace Fund</a>
<li> <a href="https://www.ucsusa.org/">Union of Concerned Scientists</a>
<li> <a href="https://www.nrdc.org/">Natural Resources Defense Council</a>
<li> <a href="https://oceanconservancy.org/">Ocean Conservancy</a>
<li> <a href="https://www.rainforest-alliance.org/">Rainforest Alliance</a>
<li> <a href="https://www.worldwildlife.org/">World Wide Fund</a>
<li> <a href="https://www.americanrivers.org/">American Rivers</a>
<li> <a href="https://www.nature.org/">The Nature Conservancy</a>
<li> <a href="https://earthjustice.org/">Earthjustice</a>
     
</ul>

</div>

</body>
</html>