<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel= "stylesheet" type= "text/css" href="css/samerica.css">
  <title>Climate Central: South America</title>
</head>
<body>
   <header>
    <div class="container">
      <h1 class="logo">CLIMATE CENTRAL
      
      </h1>

      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="regionquiz">Regions of the US</a></li>
          <li><a href="aboutus">About</a></li>
          <li><a href="resources">Resources</a></li>
          <li><a href="climatequiz">Quiz</a></li>
        </ul>
      </nav>
    </div>
  </header>
  
  <h1 id="title">SOUTH AMERICA</h1>
  <br>
  <div class="article">
    <h3>General</h3>
    <p>The rising temperatures caused by climate change will likely dry out agricultural land and the land will become a desert. Food supply gained from the land will decrease. Specifically, northeast Brazil and the Andean region will lose agricultural productivity and their food security will be threatened.</p>
      <p>Mt. Chacaltaya (a part of the Andes Mountains) in La Paz, Bolivia held one of the world's highest ski resort. That was until the temperatures rose, as a result of climate change, and melted the glacier on the mountain. Today, the mountain is bare dirt with abandoned buildings. If the global temperature rises by 2°C, South American glaciers are estimated to lose over 80% of their volume. Many are estimated to completely disappear. Melting glaciers along with changes in rainfall patterns are predicted to threaten the availability of water for human use. This will have a major effect on Lima, Peru, La Paz, Bolivia, and Quito, Ecuador, as those capital cities depend on glacial meltwater for their freshwater supply.</p>
    <p>Rising sea levels will result in severe flooding in low-elevated areas, such as Guyana and the Rio de la Plata estuary.</p>
  <h3>The Amazon</h3>
  <p>Carbon emissions from deforestation and land degradation in the Amazon rainforest will intensify the negative results of climate change.</p>
  <p>Droughts will become more extreme in Brazil and throughout the Amazon Rainforest. Some of the Amazon's most deadly droughts came in the last 100 years. The greatest concern in the region will be  increased chance of a large-scale tree dieback. Less water and more heat may turn the tropical rainforest into a savannah.</p>
    <p>There will be more frequent floods along the Amazon River, which will disrupt the already unsustainable agriculture. The vegetation by the Amazon is important to maintaining the wildlife in this habitat.</p>
    <p>Species extinctions and habitat loss will come at a faster rate.</p>
    <hr noshade>
    <p>Below are maps of South America. The first one is of South America currently and the second is of South America's coastlines if all the ice on Earth melted and sea levels rise significantly.</p>
    <br>
 <img id="map" src="http://maps.maphill.com/south-america/3d-maps/physical-map/physical-3d-map-of-south-america.jpg">
    <img id="coast" src="https://www.nationalgeographic.com/content/dam/magazine/rights-exempt/2013/09/rising-seas/02-ice-melt-south-america.adapt.1900.1.jpg">
    <br>
    </div>
</body>
</html>