<!DOCTYPE html>
<html>
  <head>
    
    <title>Climate Central: Southwest</title>
     <link rel= "stylesheet" type= "text/css" href="css/main.css">
  </head>
  <body class = backgroundsouthwest>
    <header>
    <div class="container">
      <h1 class="logo">CLIMATE CENTRAL
      
      </h1>

      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="regionquiz">Regions of the US</a></li>
          <li><a href="aboutus">About</a></li>
          <li><a href="resources">Resources</a></li>
          <li><a href="climatequiz">Quiz</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <p>
      <h1 class = font1> REGIONS OF THE USA </h1>
      </p>
  
      <p>
      <h1 class = font3> SOUTHWEST </h1>
    <p>
     <h3 class= font5>The Southwest, already one of the driest and hottest regions in the nation, is susceptible to climate change.
 </p> 
     <p>
      In the Southwest, the impacts of climate change can be seen through rising temperatures and decreased amounts of snowfall. The increasing temperatures are expected to lead to higher numbers of severe droughts. This is expected to lead to heightened competition for water resources among cities in the region.
      </p>
      <p> The effects of climate change also pose a threat to human health in the Southwest. Native communities in the region are especially at risk due to an expected decrease in access to freshwater as well as worsened agricultural conditions. </p>
      <p>Want to learn more? Click <a href= "https://19january2017snapshot.epa.gov/climate-impacts/climate-impacts-southwest_.html">here</a></p>
      </h3>
  </body>
</html>