<!DOCTYPE html>
<html>
  <head>
    
    <title>Climate Central: Southeast</title>
     <link rel= "stylesheet" type= "text/css" href="css/main.css">
  </head>
  <body class = backgroundsoutheast>
    <header>
    <div class="container">
      <h1 class="logo">CLIMATE CENTRAL
      
      </h1>

      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="regionquiz">Regions of the US</a></li>
          <li><a href="aboutus">About</a></li>
          <li><a href="resources">Resources</a></li>
          <li><a href="climatequiz">Quiz</a></li>
        </ul>
      </nav>
    </div>
  </header>
    
    <p>
      <h1 class = font1> REGIONS OF THE USA </h1>
      </p>
  
      <p>
      <h1 class = font3> SOUTHEAST </h1>
    <p>
     <h3 class= font5>Over 87 million people call the Southeast home. 11 out of 20 of its major cities are among the fastest growing metropolitan areas in the nation. </p> 
     <p>
      One of the most pertinent issues facing the Southeast is sea level rise. Flooding along with intensified hurricanes pose a threat to coastal populations. The potential costs of damage to infrastructure, especially in Florida, cannot be understated.
      </p>
      <p>Higher temperatures will also have an impact on this region. They increase evaporation which may lead to reduced freshwater availability. Many other effects of climate change will also lead to reduced freshwater availability. </p>
      <p>Want to learn more? Click <a href= "https://19january2017snapshot.epa.gov/climate-impacts/climate-impacts-southeast_.html">here</a></p>
      </h3>
  </body>
</html>