<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel= "stylesheet" type= "text/css" href="css/main.css">
  <title>Climate Central: Africa</title>
</head>
<body>
    <header>
    <div class="container">
      <h1 class="logo">CLIMATE CENTRAL
      
      </h1>

      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="regionquiz">Regions of the US</a></li>
          <li><a href="aboutus">About</a></li>
          <li><a href="--">Resources</a></li>
          <li><a href="climatequiz">Quiz</a></li>
        </ul>
      </nav>
    </div>
  
  </header>
   <body class = backgroundafrica>
     
   <h1 id="title">AFRICA</h1>
  
   </body>