<!DOCTYPE html>
<html>
  <head>
    <title>Climate Central</title>
    <link rel= "stylesheet" type= "text/css" href="css/main.css">
  </head>
<body id = background>
  <header>
    <div class="container">
      <h1 class="logo">CLIMATE CENTRAL
      
      </h1>

      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="regionquiz">Regions of the US</a></li>
          <li><a href="aboutus">About</a></li>
          <li><a href="--">Resources</a></li>
          <li><a href="climatequiz">Quiz</a></li>
        </ul>
      </nav>
    </div>
  </header>
  
  <p>
     <h1 class = font1> QUIZ </h1>
      </p>
 <p>
      <h1 class = font3> WHICH EASY WAY TO HELP THE ENVIRONMENT ARE YOU? </h1>
    </p>
  </body>