<!DOCTYPE html>
<html>
  <head>
    
    <title>Climate Central: Northwest</title>
     <link rel= "stylesheet" type= "text/css" href="css/main.css">
  </head>
  <body class = background3>
    <header>
    <div class="container">
      <h1 class="logo">CLIMATE CENTRAL
      
      </h1>

      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="regionquiz">Regions of the US</a></li>
          <li><a href="aboutus">About</a></li>
          <li><a href="--">Resources</a></li>
          <li><a href="climatequiz">Quiz</a></li>
        </ul>
      </nav>
    </div>
  </header>
    <p>
      <h1 class = font1> REGIONS OF THE USA </h1>
      </p>
  
      <p>
      <h1 class = font3> NORTHWEST </h1>
    <p>
     <h3 class= font5>The Northwest, which encompasses  both mountainous landscape and miles of coastline, is succpetible to climate change.</p> 
     <p>In recent decades, warming temperatures as well as declines in snowpack have been recorded in the region. Snowpacks in the mountains are a major resource for water in the Northwest. When they melt, they provide crucial water during times when rainfall is low. Both the decrease of snowpack and its new timing as a result of temperature rise will affect water supply.      
      </p>
      <p>Sea level rise is also a major part of how climate change will affect the Northwest. Flooding along the coast will cost millions and millions of dollars in damages, as well as devastate local ecosystems. Wildfires are likely to increase and damage forests in the region. </p>
      <p>Want to learn more? Click <a href= "https://19january2017snapshot.epa.gov/climate-impacts/climate-impacts-northwest_.html">here</a></p>
      </h3>
  </body>
</html>