<!DOCTYPE html>
<html>
  <head>
    <title>Climate Central</title>
   <link rel= "stylesheet" type= "text/css" href="css/main.css">
  <style>
* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}


@media screen and (max-width: 500px) {
    .column {
        width: 100%;
    }
}
</style>
  </head>
  
  <body id = background>
    <header>
    <div class="container">
      <h1 class="logo">CLIMATE CENTRAL
      
      </h1>

      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="regionquiz">Regions of the US</a>
          <li><a href="aboutus">About</a></li>
          <li><a href="--">Resources</a></li>
          <li><a href="climatequiz">Quiz</a></li>
        </ul>
      </nav>
    </div>
  </header>
    <p>
      <h2 class = font1> REGIONS OF THE US</h2>
 
 <div class="row">
  <div class="column">
    <a href =northeast><img src="https://www.nationalgeographic.com/content/dam/travel/Guide-Pages/north-america/united-states/maine/maine-travel-guide-pages-NationalGeographic_2190431.ngsversion.1501171406931.adapt.1900.1.jpg" style="width:100%"></a>
  </div>
  <div class="column">
    <a href=northwest><img src="http://www.lonelyplanet.com/travel-blog/tip-article/wordpress_uploads/2016/02/GettyRF_533946197.jpg" style="width:100%"></a>
  </div>
  <div class="column">
    <a href=greatplains><img src="https://upload.wikimedia.org/wikipedia/commons/7/71/Pinnacles_Overlook_in_the_Badlands_%282975619033%29.jpg" style="width:100%"></a>
  </div>
</div>

<div class="row">
  <div class="column">
    <a href =midwest><img src="https://upload.wikimedia.org/wikipedia/commons/a/af/Lake_Michigan%2C_near_Traverse_City%2C_MI_%288740755233%29.jpg" style="width:100%"></a>
  </div>
  <div class="column">
    <a href=southeast><img src="https://www.publicdomainpictures.net/pictures/160000/velka/colorful-everglades-sunset.jpg" style="width:100%"></a>
  </div>
  <div class="column">
    <img src="https://www.goodfreephotos.com/albums/united-states/nebraska/panorama-point/nebraska-panorama-point-plains-under-the-sky.jpg" style="width:100%">
  </div>
</div>

</body> 
</html>