<!DOCTYPE html>
<html>
  <head>
    
    <title>Climate Central: Great Plains</title>
     <link rel= "stylesheet" type= "text/css" href="css/main.css">
  </head>
  <body class = backgroundgreatplains>
    <header>
    <div class="container">
      <h1 class="logo">CLIMATE CENTRAL
      
      </h1>

      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="regionquiz">Regions of the US</a></li>
          <li><a href="aboutus">About</a></li>
          <li><a href="resources">Resources</a></li>
          <li><a href="climatequiz">Quiz</a></li>
        </ul>
      </nav>
    </div>
  </header>
    
    <p>
      <h1 class = font1> REGIONS OF THE USA </h1>
      </p>
  
      <p>
      <h1 class = font3> GREAT PLAINS </h1>
    <p>
     <h3 class= font5>The Great Plains of the US stretch from the Canadian border to the Mexican border, and span ten states. Agriculture is a huge part of this region's economy.</p> 
     <p>
       Temperature rise will greatly impact the great plains. Warmer weather in the winter is altering crop cycles, which will require change in current agricultural practices. Increased numbers of droughts will affect a major water supply of the region, which means new challenges when it comes to irrigating crops.
      </p>
      <p>Climate change will have a big impact on some communities in the region. Extreme weather events disproportionately affect young, elderly, ill, and low-income populations. Remote indigenous populations are especially at risk due to a lack of public resources. </p>
      <p>Want to learn more? Click <a href= "https://19january2017snapshot.epa.gov/climate-impacts/climate-impacts-great-plains_.html">here</a></p>
      </h3>
  </body>
</html>