<!DOCTYPE html>
<html>
  <head>
    
    <title>Climate Central: Northeast</title>
     <link rel= "stylesheet" type= "text/css" href="css/main.css">
  </head>

  <body class = background2>
    <header>
    <div class="container">
      <h1 class="logo">CLIMATE CENTRAL
      
      </h1>

      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="regionquiz">Regions of the US</a></li>
          <li><a href="aboutus">About</a></li>
          <li><a href="resources">Resources</a></li>
          <li><a href="climatequiz">Quiz</a></li>
        </ul>
      </nav>
    </div>
  </header>
    <p>
      <h1 class = font1> REGIONS OF THE USA </h1>
      </p>
  
      <p>
      <h1 class = font3> NORTHEAST </h1>
    <p>
     <h3 class= font5>The Northeast, though famously home to cold temperatures and snow storms, is still very susceptible to climate change.</p> 
     <p>The region has been and will be experiencing rising temperatures as well as increased amounts of rainfall during the winter and spring. The increased amount of rainfall could potentially lead to droughts during the summer. Rising temperatures pose a risk to human health in the region, especially for young children, the elderly, and people with pre-existing health conditions.       
      </p>
      <p>Perhaps the most well known issue to many in the region is sea-level rise. Rising sea-levels and storm surges pose a major threat to the aging infrastructure of the Northeast, as well as to the millions of residents which occupy its coasts. Increased flooding in some cities is expected to cause billions of dollars in damage.</p>
      <p>Want to learn more? Click <a href= "https://19january2017snapshot.epa.gov/climate-impacts/climate-impacts-northeast_.htmll">here</a></p>
      </h3>
  </body>
</html>